* {
    /* outline: 1px solid red; */
}

body {
    font-family: 'Libertinus Sans';
    font-size: large;
    margin: auto;
    max-width: 36rem;
    line-height: 1.25rem;
    hyphens: auto;
    text-wrap: pretty;
    text-align: justify;
    /* padding: auto; */
}
figure {
    /* outline: 1px solid greenyellow; */
    text-align: center;
    margin: auto;
    
}

img {
    /* outline: 1px solid blueviolet; */
    text-align: center;
    margin: 0em -5em;
}

nav ul li a:hover {
    color: #ddd !important;
    /* Change color on hover */
}
